{% extends 'index.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div>
    <h1>Profile</h1>
    <p>Welcome to your account!</p>
    <p>Username: {{ user.username }}</p>
    <p>E-mail: {{ user.email }}</p>
    <p>First name: {{ user.profile.first_name }}</p>
    <p>Last name: {{ user.profile.last_name }}</p>
    <p>Phone: {{ user.profile.phone }}</p>
    <p>You can <a href="{% url 'account:change' %}">change you password</a>.</p>
    <p>You can <a href="{% url 'account:update' user.profile.id %}">update you profile</a>.</p>
</div>
{% endblock content %}