{% extends 'index.html' %}

{% block title %}Edit your account{% endblock title %}

{% block content %}
<div>
    <h1>Edit your account</h1>
    {% include 'messages.html' %}
    {% include 'errors.html' %}
    <p>You can edit your account using the following form:</p>
    <form method="post">
        <p>{{ form.first_name.label_tag }}</p>
        <p>{{ form.first_name }}</p>
        <p>{{ form.last_name.label_tag }}</p>
        <p>{{ form.last_name }}</p>
        <p>{{ form.phone.label_tag }}</p>
        <p>{{ form.phone }}</p>
        {% csrf_token %}
        <p><input type="submit" value="Save"></p>
    </form>
</div>
{% endblock content %}

