{% extends 'index.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div>
    <h1>Log in</h1>
    {% include 'messages.html' %}
    {% if form.errors %}
        <p>Your username or password incorrect. Please try again:</p>
    {% else %}
        <p>Please, use the following form to login:</p>
    {% endif %}
    <form method="post">
        <p>{{ form.username.label_tag }}</p>
        <p>{{ form.username }}</p>
        <p>{{ form.password.label_tag }}</p>
        <p>{{ form.password }}</p>
        {% csrf_token %}
        <p><input type="submit" value="Log in"></p>
    </form>
    <p><a href="{% url 'account:password_send' %}">Forgotten your password?</a></p>
</div>
{% endblock content %}