{% extends 'index.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Your username or password incorrect
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}    
<div class="d-grid gap-2 col-2 mx-auto mt-5">
<form method="post">
  <div class="mb-3">
    <label for="id_username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="id_username" maxlength="150" required>
  </div>
  <div class="mb-3">
    <label for="id_password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="id_password" required>
  </div>
  <div class="mb-3">    
    <a href="{% url 'account:password_send' %}">Forgotten your password?</a>  
  </div>
  {% csrf_token %}    
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
</div>
{% endblock content %}