{% extends 'index.html' %}

{% block title %}Reset password{% endblock title %}

{% block content %}
{% include 'errors.html' %}   
<div class="d-grid gap-2 col-3 mx-auto mt-3">
<form class="border rounded p-3" method="post">
  <div class="mb-2">
    <label for="id_email" class="form-label">E-mail</label>
    <input type="email" class="form-control" name="email" id="id_email" maxlength="150" required>
  </div>
  {% csrf_token %}    
  <button type="submit" class="btn btn-primary">Send email</button>
</form>
</div>
{% endblock content %}
