{% extends 'index.html' %}

{% block title %}Change your password{% endblock title %}

{% block content %}
{% include 'errors.html' %}
<div class="d-grid gap-2 col-3 mx-auto mt-3">
<form class="border rounded p-3" method="post">
  <div class="mb-2">
    <label for="id_old_password" class="form-label">Old password</label>
    <input type="password" class="form-control" name="old_password" id="id_old_password">
  </div>
  <div class="mb-2">
    <label for="id_new_password1" class="form-label">New password</label>
    <input type="password" class="form-control" name="new_password1" id="id_new_password1">
  </div>
  <div class="mb-2">
    <label for="id_new_password2" class="form-label">Confirm password</label>
    <input type="password" class="form-control" name="new_password2" id="id_new_password2">
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Change password</button>
</form>
</div>
{% endblock content %}