{% extends 'index.html' %}

{% block title %}Create account{% endblock title %}

{% block content %}
{% include 'errors.html' %}      
<div class="d-grid gap-2 col-3 mx-auto mt-3">
<p>Please, sign up using the following form:</p>
<form class="border rounded p-3" method="post">
  <div class="mb-2">
    <label for="id_username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="id_username" maxlength="150" required>
  </div>  
  <div class="mb-2">
    <label for="id_email" class="form-label">E-mail</label>
    <input type="email" class="form-control" name="email" id="id_email" maxlength="150" required>
  </div>  
  <div class="mb-2">
    <label for="id_password1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password1" id="id_password1" required>
  </div>
  <div class="mb-2">
    <label for="id_password2" class="form-label">Confirm password</label>
    <input type="password" class="form-control" name="password2" id="id_password2" required>
  </div>  
  {% csrf_token %}    
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>
</div>
{% endblock content %}