{% extends 'index.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
<div>
    <h1>{{ book.title }}</h1>
    <p>
    {% for author in book.authors.all %}
    <a href="{% url 'authors:detail' author.slug %}">{{ author.name }} {{ author.surname }}</a>,
    {% endfor %}
    {{ book.finished|date:'Y' }}
    </p>
    {% if user.is_authenticated %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Post review"></p>
    </form>
    {% endif %}
</div>
{% endblock content %}