{% load static %}
<div>
    <a href="{% url 'home:about' %}">
        <img src="{% static 'images/bookcat_logo.png' %}" alt="logo" width="100" height="100">
    </a>
</div>
<ul>
    <li><a href="{% url 'home:about' %}">Home</a></li>
    <li><a href="{% url 'books:list' %}">Books</a></li>
    <li><a href="{% url 'authors:list' %}">Authors</a></li> 
    {% if user.is_authenticated %}
    <li><a href="{% url 'account:profile' %}">{{ user.email }}</a></li>
    <li><a href="{% url 'account:logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'account:login' %}">Login</a></li>
    <li><a href="{% url 'account:signup' %}">Sign up</a></li>
    {% endif %}
</ul>